.skillAnimation {
  animation: skillAnim forwards 2s;
}

.applyInitAnimat {
  animation: initAnimate 1s forwards;
}
.hideScrollBar {
  scrollbar-width: none;
}

.headingAnimate {
  animation: initAnimate 1s forwards;
}

.increseHeightNow {
  animation: incHeightAnim 1s forwards;
}

@keyframes incHeightAnim {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
@keyframes skillAnim {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes initAnimate {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
