.animate {
  animation: slide 1s forwards;
}

.CloseAnimate {
  animation: slideClose 1s forwards;
}

@keyframes slide {
  0% {
    position: absolute;
    left: -5rem;
  }
  100% {
    position: absolute;
    left: 0rem;
  }
}

@keyframes slideClose {
  0% {
    position: absolute;
    left: 0rem;
  }

  100% {
    position: absolute;
    left: -5rem;
  }
}

@media only screen and (min-width: 768px) {
  #sideNav {
    animation: slide 1s forwards;
  }
}
